[user]
	name = Russell Cheung
	email = thechunk@gmail.com
[core]
    editor = /usr/bin/vim
	autocrlf = input
	fileMode = false
[push]
	default = simple
[color]
	ui = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
